/*list item*/
#top5List { 
    margin-bottom: 3rem;
    font-size: 5rem;
    line-height: 1.5;
}

/*high scores container*/
#highScores {
    margin: 0.5rem;
    padding: 1rem;
    background-color: yellow;
    min-width: 60rem;
    border-radius: 5rem;
}

#finalScore {
    color: black;
}

@media screen and (max-width:768px) {
    #highScores {
        min-width: 45rem;
        padding: 2rem;
        text-align: center;
    }
}